<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body class="h-100 bg-light">
<!-- Login Content -->
<div class="container pt-3">
  <div class="row justify-content-center">
    <div class="col-12 card card-signup justify-content-center">
      <div class="card-body">
        <h1>Error al iniciar usuario</h1>
        <h3>Nombre de usuario o contraseña incorrecto.</h3>

        Click <a href="/login" >aqui</a> para volver a la pantalla de inicio de sesión.

      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="py-3 bg-dark fixed-bottom">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; URJC.share
      2020</p>
  </div>
  <!-- /.container -->
</footer>

</body>
</html>
