<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/user/save" method="post" enctype="multipart/form-data">
    <p>Nombre: </p>
    <input type='text' name='name'/>
    <p>Grado:</p>
    <input type='text' name='degree'/>
    <p>Email:</p>
    <textarea name='email' rows=5 cols=40></textarea>
    <p>Foto:</p><input type='file' name='imagenFile' accept=".jpg, .jpeg"/>

    <input type='submit' value='Enviar'/>
</form>
</body>
</html>