
<div class="container pt-3">
  <div class="row justify-content-center">
    <div class="col-12 card card-signup justify-content-center h-100">
      <div class="card-body ">
        <h5 class="card-title text-center text-primary">Ranking</h5>
        <div class="container" id="ranking">

          <div  *ngFor="let user of sortedUsers; let i = index" class="row text-light text-center rounded text-secundario">
            <div class="col-4 position"><p class="text-dark">{{i+1}}. </p></div>
            <div class="col-4"><p class="text-dark">{{user.name}}</p></div>
            <div class="col-4"><p class="text-dark">{{user.media}}</p></div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!--
<script>
  window.onload = function () {
    var divs = document.querySelectorAll("div.position")
    for (var i = 0; i < divs.length; i++) {
      divs[i].querySelector("p").innerHTML += i+1
    }
  }
</script>
-->
