<html>

<head>
<!-- Custom styles for this template -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/loadPagedNotes.js"></script>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>URJC.share</title>

</head>


<body class="h-100 bg-light">
	<!-- Navigation -->

	{{> global/nav}}

	<!-- Login Content -->
	<div class="container pt-3">
		<div class="row justify-content-center">
			<div class="col-12 card card-signup justify-content-center">
				<div class="card-body">
					<h5 class="card-title text-center text-primary">Lista de apuntes encontrados para: {{textTittle}}</h5>
					<!-- List of notes -->

					<div class="ml-3" id="father">
						<div class="" id="son">
							{{#emptyResult}} 
								<h3 class="text-center">No se ha encontrado ningún apunte.</h3>
							{{/emptyResult}}
						
							{{^emptyResult}}
							<ul class="list-group list-group-flush" id="list2">
								{{#notesSearched}}
									<li class="border list-group-item rounded"><a href="/notes/{{id}}" class="w-100 text-decoration-none">
										<div id="name">Nombre: {{name}}</div>
										<div id="subject">Asignatura: {{subject.name}}</div>
										<div id="professor">Profesor: {{professor}}</div>
									</a></li> 
								{{/notesSearched}}
							</ul>
							{{/emptyResult}}
						</div>
					</div>
					
					<div id="spinner" class="col text-center w-25 h-25">
						<img class="img-fluid" src="/img/spinner.gif" alt="Loading..." />
					</div>
					
					<br>
					
					<div class="col text-center">
						<button id="buttonload" class="btn btn-primary">Más resultados</button>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>

</html>
