<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../css/templateProfile.css" rel="stylesheet">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript" src="../js/graphic.js"></script>
    <title>URJC.share</title>
</head>
<body class="body bg-light" idUser="{{id}}">

<!-- Navigation -->
{{> global/nav}}
{{> global/modalEditProfile}}
{{#user}}
<div class="row-1">
    <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src='/images/users/image-{{id}}.jpg' alt=""/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h2>{{name}}</h2>

                    </div>
                </div>
                <button class="btn btn-primary" type="button"
                   data-toggle="modal" data-target="#modalEditProfile">Editar mi perfil</button>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                        <p>Universidad</p>
                        <a href="https://www.urjc.es/">Universidad Rey Juan
                            Carlos</a><br/>
                        <p>Estudios</p>
                        <a href="">{{degree}}</a><br/>
                    </div>
                </div>
                <div class="col-md-8">
                    <h4>Sobre mi</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Usuario</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{nickname}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nombre</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{name}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Correo electrónico</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{email}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Teléfono</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{number}}</p>
                        </div>
                    </div>
                </div>

            </div>
        </form>
        <h4>Documentos subidos</h4>
        <hr>
        <div id="list-notes">
            {{#notesUser}}
            <div class="card">
                <img class="card-img-profile" src="/img/{{extension}}.png"
                     alt="">
                <div class="card-body">
                    <h4 class="card-title">{{name}}</h4>
                    <p class="card-text">{{professor}}</p>
                </div>
                <div class="card-footer">
                    <a href="/notes/{{id}}" class="btn btn-primary">Ver más</a>
                </div>
            </div>
            {{/notesUser}}
        </div>
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    </div>
</div>
{{/user}}
<hr>
<hr>
<!-- Footer -->
<footer class="py-3 bg-dark fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; URJC.share
            2020</p>
    </div>
    <!-- /.container -->
</footer>
</body>

</html>
